<div class="main-container">
  <div class="alert alert-app-level">
          <span class="alert-text">
                    {{error}}
          </span>
  </div>
  <header class="header header-6">
    <a class="nav-link">
      <clr-icon shape="home" size="40"></clr-icon>
      <span class="title">Project Angular&Clarity test app</span>
    </a>
  </header>
  <div class="content-container">
    <div class="content-area">
      <button class="btn btn-icon btn-primary" aria-label="settings" (click)="refresh()">
        <clr-icon shape="refresh"></clr-icon>
        refresh
      </button>
      <clr-datagrid (clrDgRefresh)="refreshDataGrid($event)" [clrDgLoading]="loading"
                    [(clrDgSelected)]="selected" (clrDgSelectedChange)="selectionChanged($event)">
          <clr-dg-column  [clrDgField]="'purchase'" >
            <ng-container *clrDgHideableColumn="{hidden: false}">
              Purchase
          </ng-container>
          </clr-dg-column>
          <clr-dg-column [clrDgField]="'price'" [clrDgColType]="'number'">
            <ng-container *clrDgHideableColumn="{hidden: false}">
            Price
          </ng-container>
          </clr-dg-column>
          <clr-dg-column [clrDgField]="'count'" [clrDgColType]="'number'" >
            <ng-container *clrDgHideableColumn="{hidden: false}">
            Count
          </ng-container>
          </clr-dg-column>
          <clr-dg-column [clrDgField]="'sum'" [clrDgColType]="'number'" >
            <ng-container *clrDgHideableColumn="{hidden: false}">
            Sum
          </ng-container>
          </clr-dg-column>

        <clr-dg-row *clrDgItems="let item of items" [clrDgItem]="item">
          <clr-dg-cell>{{item.purchase}}</clr-dg-cell>
          <clr-dg-cell>{{item.price}}</clr-dg-cell>
          <clr-dg-cell>{{item.count}}</clr-dg-cell>
          <clr-dg-cell>{{item.sum}}</clr-dg-cell>
        </clr-dg-row>
        <clr-dg-footer>
          <clr-dg-pagination #pagination [clrDgPageSize]="10">
            <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Items per page</clr-dg-page-size>
            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
            of {{pagination.totalItems}} items
          </clr-dg-pagination>
        </clr-dg-footer>
      </clr-datagrid>
      <button type="button" [disabled]="!checked" class="btn btn-warning"  (click)="delItem()">
        delete item</button>
    </div>
    <nav class="sidenav">
      <child-comp></child-comp>
    </nav>
  </div>
</div>

