<div class="main-container">
  <div class="alert alert-app-level">
    ...
  </div>
  <header class="header header-6">
    Test App
  </header>
  <div class="content-container">
    <div class="content-area">
      <button class="btn btn-icon btn-primary" aria-label="settings" (click)="refresh()">
        <clr-icon shape="cog"></clr-icon>
        refresh</button>
      <clr-datagrid>
          <clr-dg-column>Select</clr-dg-column>
          <clr-dg-column>Purchase</clr-dg-column>
          <clr-dg-column>Price</clr-dg-column>
          <clr-dg-column>Count</clr-dg-column>
          <clr-dg-column>Sum</clr-dg-column>

        <clr-dg-row *ngFor="let item of items">
          <clr-dg-cell><input type="checkbox" [(ngModel)]="item.flag" /></clr-dg-cell>
          <clr-dg-cell>{{item.purchase}}</clr-dg-cell>
          <clr-dg-cell>{{item.price}}</clr-dg-cell>
          <clr-dg-cell>{{item.count}}</clr-dg-cell>
          <clr-dg-cell>{{item.sum}}</clr-dg-cell>
        </clr-dg-row>
      </clr-datagrid>
      <button type="button" class="btn btn-warning"  (click)="delItem()">

        delete item</button>
    </div>
    <nav class="sidenav">
      <child-comp></child-comp>
    </nav>
  </div>
</div>

