<div class="form-inline">
  <div class="clr-form-group">
    <div class="col-md-8">
      <input class="clr-form-control" [(ngModel)]="purchase" placeholder="purchase" label="purchase"/>
    </div>
    <div class="col-sm-8">
      <input type="number" class="clr-form-control" [(ngModel)]="price" placeholder="price" label="price"/>
    </div>
    <div class="col-md-8">
      <input type="number" class="clr-form-control" [(ngModel)]="count" placeholder="count" label="count"/>
      <button class="btn btn-success" (click)="addItem(purchase, price, count)">add item</button>
    </div>

  </div>
</div>
